.box-login .form-input {
    width: 240px;
    height: 35px;
    border-radius: 5px;
    padding: .5rem 0.3rem;
    font-size: 1rem;
    color: var(--medium-black);
}

.form-container .form-input {
    width: 360px;
    height: 50px;
    padding: .5rem 1.4rem;
    font-size: 1.2rem;
    border-style: none;
    border-radius: 10px;
    background-color: var(--light-gray);
}