.modal-window {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffffA0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-window.open{
    display: flex;
}